.container {
  width: 100%;
  max-width: 1219px; /*максимальная ширина*/
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
background-image: url('https://writerous.github.io/images/logo.png');
width: 183px;
height: 44px;
text-decoration: none;
line-height: 38px;
float: left;
margin-top: 20px;
}

nav {
	color: #FFFFFF;
	float: right;
	margin-top: 29px;
display: inline-block;
padding: 0;
}

header {
	position: fixed;
	background-color: #007765;
width: 1219px;
height: 84px;
left: 0px;
top: 0px;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.Jumbotron {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url('https://s3-alpha-sig.figma.com/img/9e49/7f3d/f0c0c5a5f4c8e134a751795ba5497b38?Expires=1582502400&Signature=Tv2m0HZReewpGSK0JtAuNS3QutywsrZobFHoWppbVOlwhd~wHJOR8HjxP8UUjt~FtA~xwQX3ZLkgYgPnSrM~6oLzkeazF7nl4vtHYvNMB8FrB5qvgr-vfjCn52BvnMUblHJNb3h4F2aUtEVD0YAuIkCq4mOm~AAG5WbRjKuSGIsnpvNwHprMLQQhkjNtR2ZfDv8-KrHEMDFXMuEx~TFgtaGWncd~NM-nBbPNX5pOMmcNCrcjccaM0z7T~1OrOnta0du3mP1wIxqIxG7opUEfr5632CJBiRk8GHauSysHhgl2mwkTksJNnpDvK0yjaDOi1FcJG7lOx6xMVtClZYGPcg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
  background-size: cover;
  background-position: center center;
}

.Jumbotron__message {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 84px;
text-align: center;
color: #FFFFFF;
}
.container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.The_Problem{
	  text-align: center;
  padding-top: 128px;
  padding-bottom: 128px;
  background: #EEEEEE;
  background-size: cover;
  background-position: center center;
}

.The_Problem__mess {
text-align: center;
width: 1107px;
height: 75px;
left: 55px;
top: 535px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 75px;
color: #007765;
}

.The_Problem__message {
text-align: left;
width: 1110px;
height: 388px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
  color: #000000;
}

.container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.hero {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url('https://i.ibb.co/PM6cMBn/image.png');
  background-size: cover;
  background-position: center center;
}

.hero__message {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}

.container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.PPC {
  padding-top: 128px;
  padding-bottom: 128px;
  background: #FFFFFF;
  background-size: cover;
  background-position: center center;
}

.Label_PPC {
width: 1110px;
height: 35px;
left: 55px;
top: 1737px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 75px;
/* identical to box height */

text-align: center;

color: #007765;
}

.PPC__message {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
color: #000000;
}

.col-1a-3 {
/*	width: 115px;
height: 150px;
left: 55px;
top: 1828px;*/
  width: 17%;
  height: 150px;
  float: left;
}

.col-2a-3 {
	width: 930px;
height: 150px;
left: 218px;
top: 1828px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
color: #000000;

  width: 83%;
  float: left;
}

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.The_Problem{
	  text-align: center;
  padding-top: 128px;
  padding-bottom: 128px;
  background: #EEEEEE;
  background-size: cover;
  background-position: center center;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #eee;
}

h1 {
  color: #007765;
  font-weight: 500;
  text-align: center;
  font-size: 64px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.member {
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;
  flex-basis: 33%
}

.member-name {
  margin: 0;
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  color: #007765;
}

.member-role {
  font-style: italic;
  font-size: 18px;
}

.members {
  width: 100%;
  display: flex;
  flex-flow:  wrap;

}

footer {
background-color: #333333;
    padding: 50px 20px 62px; 
}

.Buy_buy {
font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 540px;
    color: #FFFFFF;
    margin: 0 auto;

}