* {
    box-sizing: border-box;
}

body {
    font: 400 14px/1 'Manrope', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
}
  
img {
    max-width: 100%;
}

#header {
    position: fixed;
    background-color: rgba(255,255,255,0.0);
    height: 80px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid #fff;
}
  
.container-footer {
    box-sizing: border-box;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}
  
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0px;
    top: 0px;
    height: 80px;
}

.header-main-menu a + a {
    margin-left: 47px;
}

.header-right-bar a + a {
    margin-left: 70px;
    top: 55px;
}

.header-right-bar a + a + a {
    margin-left: 11px;
}

.header-main-menu {
    height: 22px;
    left: 807px;
    font-size: 16px;
    line-height: 135%;
    color: #FFFFFF;
}

.first-screen {
    width: 1920px;
    height: 800px;
    left: 0px;
    top: 0px;
    background: url('../images/bgc.png') no-repeat;
}

.first-screen-block-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 747px;
    width: 1455px;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.item1 {
    margin-bottom: 30px;
    width: 255px;
    height: 148px;
    background: #2378FC;
}

.item3 {
    width: 255px;
    height: 148px;
    background: #30BCC9;
}

.item2 {
    width: 255px;
    height: 175px;
    background: #FFC41E;
}

.item4 {
    margin-left: 30px;
    margin-top: 30px;
    width: 255px;
    height: 175px;
    background: #F6404F;
}

.item1, .item2, .item3, .item4 {
    padding: 30px 40px;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

p {
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
    padding-top: 15px;
}

.first-screen-title {
    margin-top: 267px;
    margin-right: 37px;
    align-self: flex-start;
    width: 535px;
    height: 224px;
}

.first-screen-title h1 {
    margin-bottom: 35px;
    width: 420px;
    height: 74px;
    left: 403px;
    top: 274px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 160%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.first-screen-title h4 {
    margin-bottom: 25px;
    width: 403px;
    height: 68px;
    left: 405px;
    top: 383px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
}

.bcg {
    padding: 75px 0;
    width: 1920px;
    height: 426px;
    left: 0px;
    top: 800px;
    background: #2378FC;
}

.container {
    width: 1114px;
    left: 403px;
    top: 875px;
    margin: 0 403px;
}

.side-menu-list {
    display: flex;
    justify-content: space-between;
}

.item h2 {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.item p {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.item .text-decoration {
    text-decoration-line: underline;
    color: #FFC41E;
}

.events {
    width: 1920px;
    height: 984px;
    left: 0px;
    top: 1233px;
    background: #FFC41E;
}

.event-text {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 55px;
}

.event-text h2 {
    left: 405px;
    top: 1308px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #2E373B;
}

.event-text a {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    text-align: right;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    color: #2E373B;
}

.event-item {
    width: 350px;
    height: 348px;
    margin-bottom: 30px;
}

.row-event {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.news {
    width: 1920px;
    height: 649px;
    left: 0px;
    top: 2210px;
    background: #FAF3E3;
}

.news-area {
    display: flex;
    justify-content: space-between;
}

.news-column {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
}

.news-column .ad {
    width: 445px;
    height: 215px;
    margin-bottom: 59px;
}

.news-column2 {
    width: 530px;
}

.news-item {
    display: flex;
    width: 530px;
    height: 120px;
    margin-bottom: 30px;
}

.news-column2 .event-text {
    margin-bottom: -23px;
  
}

.news-item-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    color: #F6404F;
    margin-left: 30px;
    margin-bottom: 14px;
}

.news-item-info h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #2E373B;
    margin-left: 30px;
}